<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="senderEmail" value="secureline.secureline@gmail.com"/>
		<add key="senderDisplayName" value="SecureLine"/>
	</appSettings>
    <connectionStrings>
		<add name="SecureLineDatabase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=SecureLineDatabase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;" providerName="System.Date.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="127.0.0.1" userName="SecureLine" password="W5r1XlWB$@Y6" port="25" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
